
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{  
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.titulo-section-1
{
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    text-align: center;
}

.imagem-section-1
{
    display: flex;
    margin: 0 auto;
    width: 60vw;
}

.texto-section-1
{
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    text-align: center;
    padding: 10px;
}

body
{
    background: #696969;
}